/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* common */
body{
  font-family: 'Roboto', sans-serif;
}

/* header */
header{
  height: 10%;
}

.logo-img{
  margin: 10px 10px 10px 40px;
  vertical-align: middle;
}

.logo-text{
  display: inline;
  vertical-align: middle;
  font-size: 2.5em;
}