/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* common */
body{
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;
}

/* header */
header{
  background-color: #FFFFFF;
  height: 10%;
}

.logo-img{
  margin: 10px 10px 10px 40px;
  vertical-align: middle;
}

.logo-text{
  display: inline;
  vertical-align: middle;
  font-size: 2.5em;
}

/* main */
.main-container{
  background-color: #FFFFFF;
  width: 60%;
  margin: 40px auto;
  border-radius: 5px;
}

/* main top */
.main-top{
  border-bottom: 2px solid lightgray;
}

.buttons{
  padding: 10px 40px;
}

button{
  height: 30px;
  padding: 10px;
  border-style: none;
  border-radius: 5px;
  line-height: 0;
}

button.blue{
  color: #FFFFFF;
  background-color: #20A9E5;
}

button.white{
  color: lightgray;
  background-color: #FFFFFF;
  border: 1px solid lightgray;
}

/* main bottom */
.main-bottom{
  height: 600px;
}

.section{
  padding: 20px 40px;
}

li{
  list-style: none;
  margin: 15px 0;
}

.check-tag{
  display: inline-block;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}


.check-tag.green{
  color: green;
  border: 1px solid green;
}


.check-tag.red{
  color: red;
  border: 1px solid red;
}

.tag{
  font-size: 10px;
  height: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  color: #FFFFFF;
}

.tag.blue{
  background-color: #20A9E5;
}

.tag.purple{
  background-color: rgb(109, 0, 109);
}

.tag.dark-green{
  background-color: rgb(24, 85, 54);
}

.tag.orange{
  background-color: orange;
}

.tag.pink{
  background-color: orchid;
}

.tag.green{
  background-color: rgb(127, 170, 87);
}